div{
    /* display: flex;
    flex-direction: row; */
    background-color: rgb(39, 39, 121);
    
}
h2{
    background-color: burlywood;
    color: rgb(39, 39, 121);
    font-family: "Roboto Condensed", sans-serif;
}
p{
    color: burlywood;
    background-color: rgb(39, 39, 121);
    font-family: "Playfair Display", serif;
}