header {
    background-color: goldenrod;
    grid-column: 1/4;
    padding: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    display: grid;
    /* height: 100vh; */
    /* grid-template:  1fr 1fr / 300px auto; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.left {
    color: blue;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: blueviolet;
}

.middle {
    color: yellow;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: yellowgreen;
}

.right {
    color: red;
    grid-column: 3/4;
    grid-row: 3/4;
    
    background-color: purple;
}

footer {
    background-color: blanchedalmond;
    grid-column: 1/4;
    padding: 5rem;
}
