header {
    background-color: goldenrod;
    grid-column: 1/4;
    padding: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    display: grid;
    /* height: 100vh; */
    grid-template:  1fr / 1fr 1fr ;
}

.left {
    color: blue;
    grid-column: 1/4;
    background-color: blueviolet;
}

.middle {
    color: yellow;
    grid-column: 2/3;
    background-color: yellowgreen;
}

.right {
    color: red;
    grid-column: 3/4;
    
    background-color: purple;
}

footer {
    background-color: blanchedalmond;
    grid-column: 1/4;
    padding: 5rem;
}
