body{
    /* display: grid;
    grid-template: 100px 300px 200px 1fr 1fr / 1fr; */
    display: flex;
    flex-direction: column;

}

header{
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(184, 30, 30);
    color:white;
}
.hero{
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    height: auto;
}

.data{
    grid-row: 1;
    grid-column: 1;
} 

.info{
    display: grid;
    grid-template: 50px 50px 50px 50px 50px 70px 70px 70px / 120px 110px;
    border: solid rgb( 0 0 0/ 0.3);
}
.data h1{
    display: flex;
    justify-content: center;
    /* grid-row: 1;
    grid-column: 2; */
}
/* .data h2{
    grid-row: 1;
    grid-column: 1;
} */
 .area{
    grid-row: 1;
    grid-column: 1;
 }
.p1{
    grid-row: 1;
    grid-column: 2;
}
.pop{
    grid-row: 2;
    grid-column: 1;
}

.p2{
    grid-row: 2;
    grid-column: 2;
}
.cap{
    grid-row: 3;
    grid-column: 1;
}
.p3{
    grid-row: 3;
    grid-column: 2;
}
.lan{
    grid-row: 4;
    grid-column: 1;
}
.p4{
    grid-row: 4;
    grid-column: 2;
}
.cur{
    grid-row: 5;
    grid-column: 1;
}
.p5{
    grid-row: 5;
    grid-column: 2;
}
.timez{
    grid-row: 6;
    grid-column: 1;
}
.p6{
    grid-row: 6;
    grid-column: 2;
}
.call{
    grid-row: 7;
    grid-column: 1;
}
.p7{
    grid-row: 7;
    grid-column: 2;
}
.inter{
    grid-row: 8;
    grid-column: 1;
}
.p8{
    grid-row: 8;
    grid-column: 2;
}

.weather{
    grid-row: 2;
    grid-column: 1;
    /* background-color: blue;
    color: white; */
}
.weather img{
    width: 10%;
    height: auto;
}
.cloud{
    grid-row:3;
    grid-column: 1;
}

.heat{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}

footer{
    grid-row: 5;
    grid-column: 1;
    background-color: rgb(184, 30, 30);
    color: white;
}

@media screen and (min-width: 500px){
    body{
        display: grid;
        grid-template: 500px 500px 500px 500px / 500px  500px 500px;
    }
    main{
        display: contents;
    }
    header{
        grid-row: 1;
        grid-column: 1/4;
    }
    .data{
        grid-row: 2;
        grid-column: 1;
    }
    .hero{
        display: contents;
    }
    .hero img{
        grid-row: 2/4;
        grid-column: 2;
        width: 100%;
        height: auto;
    }
    .weather{

        grid-row: 3;
        grid-column: 3;
    }
    .weather img{
        width: 10%;
        height: auto;
    }
    footer{
        grid-row: 4;
        grid-column: 1/4;
    }
}