

header{
    background-color:lightblue;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
     
}

nav{
    display:flex;
    justify-content: space-around;
}

nav a:hover{
    background-color: lightskyblue;
}

main{
    max-width: 800px;
    margin: 0 auto;
    background-color: lightseagreen;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: grid;
    grid-template-columns: 1fr;

    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

}
.one{
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 1;
    grid-row: 2;
}
.three {
    grid-column: 1;
    grid-row: 3;
}
.four {
    grid-column: 1;
    grid-row: 4;
}
.five {
    grid-column: 1;
    grid-row: 5;
}
.six {
    grid-column: 1;
    grid-row: 6;
}
.seven {
    grid-column: 1;
    grid-row: 7;
}
.eight {
    grid-column: 1;
    grid-row: 8;
}
.nine {
    grid-column: 1;
    grid-row: 9;
}

img {
    max-width: 700px;
}



footer {
    background-color: lightgray;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}